<% layout("layouts/boilerplate")%>

    <h1 class="display-6 text-center">Arek's Example Node.JS WebApp</h1>

    <div class="container-lg text-center">
        <p class="lead">
            This is the example Node.JS WebApp that I use when starting all of my projects. It contains some examples of
            things that I frequently use in my projects.
        </p>

    </div>